parser: babel-eslint
extends:
  - eslint:recommended
  - plugin:react/recommended
  - plugin:import/react
  - plugin:import/recommended
  - prettier
plugins:
  - react
  - import
  - private-props
env:
  es6: true
  node: true
  jasmine: true
  browser: true
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true
settings:
  import/resolver:
    node:
      extensions:
        - .js
        - .jsx
rules:
  arrow-body-style: 1
  consistent-return: 2
  global-require: 0
  linebreak-style: 0
  no-await-in-loop: 0
  no-bitwise: 0
  no-console:
    - 2
    -
      allow:
        - info
        - warn
        - error
  no-else-return:
    - 2
    -
      allowElseIf: false
  no-empty: 2
  no-param-reassign:
    - 2
    -
      props: true
  no-plusplus: 0
  no-restricted-imports:
    - 2
    - lodash
  no-restricted-syntax:
    - error
    - ForInStatement
    - LabeledStatement
    - WithStatement
  no-shadow: 2
  no-unused-expressions: 0
  no-unused-vars:
    - 2
    -
      argsIgnorePattern: ^_
  no-underscore-dangle: 0
  no-use-before-define: 2
  no-useless-concat: 2
  no-warning-comments:
    - 1
    -
      terms:
        - todo
        - fixme
      location: anywhere
  prefer-const: 2
  prefer-template: 2
  require-await: 2
  yoda:
    - 2
    - never
    -
      exceptRange: true
  import/extensions: 2
  import/first:
    - 2
    - absolute-first
  import/imports-first: 0
  import/named: 2
  import/newline-after-import: 2
  import/no-duplicates: 2
  import/no-extraneous-dependencies: 0
  import/no-mutable-exports: 2
  import/no-named-default: 2
  import/no-named-as-default: 2
  import/no-named-as-default-member: 2
  import/no-namespace: 0
  import/no-unresolved:
    - 2
    -
      commonjs: true
      caseSensitive: true
  import/no-webpack-loader-syntax: 2
  import/prefer-default-export: 2
  import/unambiguous: 0
  private-props/no-unused-or-undeclared:
    - 2
    -
      privateMatchers:
        - ^_
        - ^is[A-Z]
        - ^get[A-Z]
        - ^set(?!State)
        - ^on[A-Z]
        - ^handle[A-Z]
        - ^render[A-Z]
  private-props/no-use-outside: 2
  react/display-name:
    - 0
    -
      ignoreTranspilerName: false
  react/forbid-prop-types:
    - 2
    -
      forbid:
        - any
  react/no-direct-mutation-state: 2
  react/no-unused-prop-types: 2
  react/prefer-stateless-function: 0
  react/prop-types: 2
  react/sort-comp:
    - 2
    -
      order:
        - static-methods
        - type-annotations
        - lifecycle
        - /^is.+$/
        - /^get.+$/,
        - /^set.+$/,
        - /^on.+$/
        - /^handle.+$/,
        - everything-else,
        - /^render.+$/,
        - render
  react/require-default-props: 2
