@import "minireset.css";

html, body {
  line-height: 1.5;
  font-size: 12px;
  font-weight: 300;
  font-family: -apple-system, Sans-Serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

#main {

}

#error {
  background-color: red;
}
